<div class="page page--background">
    <header>
        {{> back-button}}
    </header>

    <form class="page__section">
        <h1 class="page__title">Вхід</h1>
        <div class="form">

            <div class="form__item">
                {{> field label='Ел. адреса' type='email' placeholder='Ваш e-mail' action='signupForm.change'
                name="email"}}
                <span name="email" class="form__error">Помилка</span>
            </div>

            <div class="form__item">
                {{> field-password label='Пароль' type='password' name='password' placeholder='Введіть пароль'
                action='signupForm.change'}}
                <span name="password" class="form__error">Помилка</span>
            </div>

            <button onclick="signupForm.submit()" class="button button--disabled" type="button">Увійти</button>

            <span class="alert alert--disabled">Увага, помилка!</span>

            <span class="link__prefix">Забули пароль? <a href="/recovery" class="link">Відновити</a></span>
        </div>

    </form>
</div>