<div class="page page--background">
    <header>
        {{> back-button}}
    </header>

    <form class="page__section">
        <h1 class="page__title">Відновлення паролю</h1>
        <div class="form">

            <div class="form__item">
                {{> field label='Ел. адреса' type='email' placeholder='Ваш e-mail' action='recoveryForm.change'
                name="email"}}
                <span name="email" class="form__error">Помилка</span>
            </div>

            <button onclick="recoveryForm.submit()" class="button button--disabled" type="button">Відновити
                пароль</button>

            <span class="alert alert--disabled">Увага, помилка!</span>
        </div>

    </form>
</div>