<div class="data">
    <span class="data__title">ID</span>
    <span class="data__value skeleton"></span>
</div>
<div class="data">
    <span class="data__title">E-mail</span>
    <span class="data__value skeleton"></span>
</div>
<div class="data">
    <span class="data__title">Роль</span>
    <span class="data__value skeleton"></span>
</div>
<div class="data">
    <span class="data__title">Пошта підтверджена?</span>
    <span class="data__value skeleton"></span>
</div>